/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}



/*//*/ * /*/*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.m-btn--icon.m-btn--icon-only {
    margin-top: -5px !important;
    font-size: 10px !important;
    width: 24px !important;
    height: 23px !important;
    padding: 1px 5px !important;
    font-weight: 100 !important;
}

.m-btn--icon.m-btn--icon-only i {
    font-size: 1.1rem !important;
}

.number-cell {
    text-align: right;
}

.number-header .ag-header-cell-label {
    justify-content: center;
}

.ag-row-group {
    font-weight: 700;
    background-color: #f1f1f1 !important;
}

.customer-select-style {
    width: 300px !important;
    margin-left: 20px;
}

.user-icon {
    background-color: #22b9ff;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    margin-left: 30px;
}

.kt-portlet__body_Custom {
    padding: 10px 25px 10px 25px !important;
}

.modal-xxl.modal-dialog {
    width: 75%;
    height: 85%;
    margin: 0;
    padding: 0;
    left: 12.5%;
    top: 40px;
}

.modal-xxl > .modal-content {
    height: auto;
    /*min-height: 100%;*/
    border-radius: 0;
}

.modal {
    padding-right: 0px !important;
}

p {
    margin-bottom: .2rem !important;
}

.m-form__actions {
    margin-top: 10px !important;
}

.kt-portlet {
    height: 100%;
}
/*Start:ag grid auto height for no rows.*/
.ag-root.ag-layout-normal {
    min-height: 68px;
}

.ag-overlay {
    min-height: 95px;
}
/*End:ag grid auto height for no rows.*/


.modal .mb-3, .my-3 {
    margin-bottom: .5rem !important;
}

.modal .mb-4, .my-4 {
    margin-bottom: .5rem !important;
}

.modal-body {
    padding: .55rem 1.25rem .55rem 1.25rem !important;
}
/*.modal-header {
    padding: .55rem !important;
}*/

/*the container must be positioned relative:*/
.autocomplete-control .autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-control .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-control .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        /*when hovering an item:*/
        .autocomplete-control .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

/*when navigating through the items using the arrow keys:*/
.autocomplete-control .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.pac-container {
    z-index: 10000 !important;
}

.error {
    color: red;
}

.ag-floating-bottom, .ag-floating-bottom .ag-row {
    background-color: #f5f7f7 !important;
}

.modal-open {
    overflow: hidden !important;
}

.warning-notify {
    background-color: #ff8000 !important;
    color: white;
    font-weight: normal !important;
}

.kt-form__actions {
    float: right;
}

    .kt-form__actions button {
        margin-left: 10px !important;
    }

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items {
    padding: 0 1rem !important;
}

    .kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item {
        flex: 0 0 25% !important;
    }

.kt-pricing-1__items {
    margin: auto;
    margin-left: 7%;
}

.kt-pricing-1__item {
    transition: .1s;
    border-radius: 15px;
    text-align: center;
    min-width: 200px;
}

    .kt-pricing-1__item:hover {
        transform: scale(1.02);
        transition: .1s;
        -webkit-box-shadow: 3px 6px 17px -5px rgba(105, 100, 100, 0.75);
        -moz-box-shadow: 3px 6px 17px -5px rgba(105, 100, 100, 0.75);
        box-shadow: 3px 6px 17px -5px rgba(105, 100, 100, 0.75);
    }

.card {
    margin-left: 40px;
}

.card2 {
    margin-left: 40px;
}

.ag-group-header-colums {
    color: red;
}

    .ag-group-header-colums .ag-header-group-cell-label span {
        float: none !important;
        text-align: center !important;
        width: 100% !important;
    }

.ag-group-header-colums-nocolor .ag-header-group-cell-label span {
    float: none !important;
    text-align: center !important;
    width: 100% !important;
}

.ag-group-header-colums-nocolor .ag-header-cell-label span {
    float: none !important;
    text-align: center !important;
    width: 100% !important;
}









/**-Mediaa query starts here**/
@media only screen and (min-width: 359px) {
    .one {
        margin-bottom: 30px;
    }

    .kt-pricing-1__item {
        margin-bottom: 30px;
    }
}

.nav-tabs-custom {
    margin: 0 !important;
    position: fixed;
    top: 39px;
    left: 650px;
}

.nav.dynamic-nav-tabs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-bottom: -1px !important;
}

.nav-tabs .dropdown-menu .nav-link {
    border: none;
}

@media (max-width: 1024px) {
    .kt-portlet__head.has-dynamic-tabs {
        flex-flow: wrap;
    }
}
/*.ag-theme-balham {
    max-height: 75vh !important;
    overflow-y: auto;
}*/

.dropdown-menu.show {
    padding: 5px !important;
}

.ag-theme-balham .ag-ltr .ag-row-group-leaf-indent {
    margin-left: 0px !important;
}

.firefox-scroll-fixed .ag-body-horizontal-scroll, .firefox-scroll-fixed .ag-body-horizontal-scroll-container,
.firefox-scroll-fixed .ag-body-horizontal-scroll-viewport {
    height: 17px !important;
    max-height: 17px !important;
    min-height: 17px !important;
}

.firefox-scroll-fixed .ag-center-cols-viewport {
    overflow-x: hidden !important;
}


.swal2-container.swal2-shown {
    z-index: 9999 !important;
}

swal2-popup {
    z-index: 99999 !important;
}



@media screen and (min-width: 1400px) {
    .scrollable-menu {
        overflow-y: auto;
        height: 550px !important;
        border-bottom: 0.5px solid rgb(238, 238, 238);
    }

    .modal-scroll-content > .modal-body {
        max-height: 75vh;
    }
}

@media screen and (min-width: 1900px) {
    .scrollable-menu {
        overflow-y: unset;
        height: auto !important;
    }

    .modal-scroll-content > .modal-body {
        max-height: 75vh;
    }
}

.modal-scroll-content > .modal-body {
    margin-bottom: 15px;
}

.fa-nopadding {
    padding: 0px !important;
    margin-top: 3px;
}

.select-full .select2.select2-container {
    width: 100% !important;
}

.card-body .select2-container {
    width: 100% !important;
}
/*Start: ag grid bootstrap menu inside grid */
.agGridDropdownMenu-cell {
    overflow: visible !important;
}

.ag-row {
    z-index: 0 !important;
}

    .ag-row.ag-row-focus {
        z-index: 1 !important;
    }

.ag-root.ag-layout-auto-height,
.ag-body-viewport.ag-layout-auto-height,
.ag-body-viewport-wrapper.ag-layout-auto-height {
    overflow: visible !important;
}

.agGridDropdownMenu .dropdown-menu > li > a, .agGridDropdownMenu .dropdown-menu > .dropdown-item {
    padding: 3px 0.5rem;
}
/*End: ag grid bootstrap menu inside grid */

/*
.swal-wide {
    width: 70% !important;
}*/


.select-full .select2.select2-container {
    width: 100% !important;
}

.mt-25px {
    margin-top: 25px;
}

.mt-35px {
    margin-top: 35px;
}
